@import "variables.scss";
.btn-primary{
    color: #fff;
    display: inline-flex;
    font-size: 32px;
    padding: 1.4rem 4rem;
    font-family: "Roboto-Bold";
    background-color: $color_primary;
    border-color: $color_primary;
    &:disabled, &.disabled{
      color: #fff;
      background-color: #D7D8D8;
      border-color: #D7D8D8;
    }
    &:hover, &:active,&.active{
      color: #fff;
      border-color: $color_primary;
      background-color: darken($color_primary, 4);
    }
    &:focus{
      color: #fff;
      border-color: $color_primary;
      background-color: darken($color_primary, 4);
      box-shadow: 0 0 0 0.25rem rgba($color_primary, .5);
    }
    .d-icon{
        margin-left: .3em;
        margin-right: 0.3em;
        width: 45px;
        height: 45px;
        stroke: #fff;
    }
  }
  .btn-primary.d-lineal{
    color: $color_primary;
    background-color: #fff;
    border:2px solid $color_primary;
    
    .d-icon{
        width: 45px;
        height: 45px;
        stroke: $color_primary;
    }
    &:hover, &:active,&.active{
      color: #fff;
      stroke: #fff;
      border-color: $color_primary;
      background-color: darken($color_primary, 4);
      
    }
    &:hover .d-icon{
      stroke: #fff;
    }
    &:focus{
      color: #fff;
      border-color: $color_primary;
      background-color: darken($color_primary, 4);
      box-shadow: 0 0 0 0.25rem rgba($color_primary, .5);
    }
    &:disabled, &.disabled{
      color: #fff;
      background-color: #D7D8D8;
      border-color: #D7D8D8;
    
    }
    &:disabled .d-icon, &.disabled .d-icon{
      stroke: #fff;
    }
  }

