@import "variables.scss";
.d-card{
    border-radius: 12px;
    background-color:#fff;
    padding:2em 0;
    margin:0 .25em;
    box-shadow: 2px 2px 4px rgba(0,0,0,.25);
    &.d-guida{
        background-color:$color_secondary;
        .d-title{
            color:#fff;
        }
        .d-subtitle{
            color:#fff;
        }
        
    }
    &.d-borde{
        border-bottom: 15px solid $color_primary;
    }
    &.disabled{
        border-bottom: 15px solid #99adbf;
        img{
            opacity: 0.4;
        }
        .d-color{
            color: #99adbf;
        }
    }
    
}

.d-cardBIO{
    border-radius: 0px;
    box-shadow: none;
    width: 100%;
    border: 1px solid #757A7F;
    padding: 0;
    &-header{
        background-color:#757A7f;
        color:#fff;
        text-align: center;
        padding:.7em;
        line-height: 1.2    ;
    }
}

.d-cardITEM{
    background-color:#B1B3B3;
    border-radius: 6px;
    display:flex;
    width: 290px;
    margin-bottom: .5em;
    padding: 0.7em 0;
    margin-right: 18px;
    transition: transform .5s , background-color .6s;
    &-img{
        display:flex;
        align-content: center;
        margin-left: .3em;
        //margin:.5em 1em;
        width: 20%;
    }
    img{
        width: 35px;
    }
    &-content{
        color: #fff;
        //padding:0 .5em; 
        margin:0;
        line-height: 1.2;
        //border-left: 1px solid #fff;
        display:flex;
        width: 80%;
        align-items: center;
    }
    &:hover{
        transform: scale(1.03);  
        background-color:$color_primary;  }
}
.d-cardIcon{
    border-radius:8px;
    border: 1px solid $color_primary;
    display:flex;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    &-img{
        width: 25%;
        background-color:$color_primary;
        display: flex;
        align-items: center;
    }
    &-content{
        width: 75%;
        padding:1em;
        background-color:#fff;
        
    }
}