//app-color
$color_primary: #00335E;
$color_secondary: #701B40;
$color-third:#EA5932;
$colo_five:#9BC436;

$color_primary_text: #666868;

//font
$font_text:"Roboto-Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font_text_bold:"Roboto-Bold","Roboto-Regular","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
$font_text_light:"Roboto-Light","Roboto-Regular","Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";